html {
    overflow: scroll;
}

body {
	background-image:url("https://freerangestock.com/sample/73834/vivid-rough-grunge-red-background.jpg");
	opacity:0.9;
	 overflow: scroll;
}

h1 {
	font-size: 3rem;
	font-weight: bold;
}


.fa-shopping-cart {
	font-size: 1.8rem;
	
}

.form-control {
	font-size: 1.25rem;
	padding: 0.25rem 0.5rem;
}

.input-group input:focus { 
	border-color: Red;
    box-shadow: 0 0 5px rgba(207, 220, 0, 0.4);
}

.input-group {
	margin-top: 10em;
}

.title{
	
	text-align:relative;
	font-size:25px;
	font-weight:bold;
	margin-top:20%;
	
	
}
 
  
.alphabet {
    list-style-type: none;
   
    padding:0;
    cursor: pointer;
    width:80%;
    text-align:left;
}

.alphabet li {
   
    float:left;
    margin:0;
    padding:0;
    border-right:1px solid darkgrey;
    font-size: 13px;
    -moz-box-sizing:border-box;
    color:black;
    display:inline-block;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    width:3.84%;
}

.alphabet li:last-child {
    border-right: none;
}

.alphabet li:hover {
    color:green;
    background-color: lightgrey;
}
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom:0;
  
  
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

/* #browse{

   
   width:100%;
   height:250px;
   overflow-y:scroll;
} 
 */
 
 /* .footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
  
   
   text-align: center;
}
 */